.container {
  max-width: 1000px; 
  border: 2px inset red;
  margin: 0 auto;
}

/* App.js */
.small-container{
  width: 90%;
  margin: 0 auto;
}
.keep-as-row {
  display: flex;
  justify-content: space-between;
}

/* AppTitle.js */
.title {
  text-align: center; 
  font-size: 14vh; 
}

/* Home.js */
.column {
  border: 1px solid black;
  height: 2vh;
  width: 2vw;
  text-align: center; 
}

