.container {
  max-width: 1000px; 
  border: 2px inset blue;
  margin: 0 auto;
  
}

/* App.js */
.small-container{
  width: 90%;
  margin: 0 auto;
  
}
.keep-as-row {
  display: flex;
  justify-content: space-between;
}

/* AppTitle.js */
.title {
  text-align: center; 
  font-size: 14vh; 
  color: #001A9E;
  background: black;
  box-shadow: 2px 3px;
}

/* Home.js */
.column {
  border: 1px solid black;
  height: 4vh;
  width: 4vw;
  text-align: center; 
}
.show-grid {
  display: flex;
  width: 55%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Numbers.js */
.number-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.number {
  border : 1px solid black;
  height: 10vh;
  width: 4.5vw;
  text-align: center; 
}
.number:hover {
  cursor: pointer;
  background: grey;
}

/* Three By Three */
.s3x3 {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;

  
}
.row3x3 {
  width: 100%;
  display: flex; 
  flex-direction: row;
}

.grid-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  
}

/* Media query  */
@media (max-width: 500px){
  /* App.js */
  .keep-as-row {
    display: block;
    margin: 0 auto;
  }

  /* AppTitle.js */
  .title {
    font-size: 14vw;
  }


  /* Home.js */
  .column {
    width: 7vw;
  }
  .show-grid{
    width: 81%;
  }

}
