.container {
  max-width: 1000px; 
  border: 2px inset red;
  margin: 0 auto;
}

/* App.js */
.small-container{
  width: 90%;
  margin: 0 auto;
}
.keep-as-row {
  display: flex;
  justify-content: space-between;
}

/* AppTitle.js */
.title {
  text-align: center; 
  font-size: 14vh; 
  color: #001A9E;
  background: black;
  box-shadow: 2px 3px;
}

/* Home.js */
.column {
  border: 1px solid black;
  height: 4vh;
  width: 4vw;
  text-align: center; 
}
.show-grid {
  display: flex;
  width: 55%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

